@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainOrange: #f15025;
  --mainYellow: #d2aa5c;
}

body {
  font-family: "MuseoModerno", cursive;
  color: black;
  background: white;
}
